<!-- 工具栏 -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
	 id="footer">
	<ul class="am-navbar-nav am-cf am-avg-sm-4">
		<li >
			<a href="{:url('index/index/index')}" class="">
				<!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/Information.png" alt="消息"/>-->
				<i class="am-icon-home"></i>
				<span class="am-navbar-label">首页</span>
			</a>
		</li>
		<li >
			<a href="{:url('index/querys/index')}" class="">
				<!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/phone.png" alt="呼叫"/>-->
				<i class="am-icon-search"></i>
				<span class="am-navbar-label">查询</span>
			</a>
		</li>
		<li >
			<a href="{:url('index/files/upload')}" class="">
				<!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/share.png" alt="分享"/>-->
				<i class="am-icon-upload"></i>
				<span class="am-navbar-label">上传</span>
			</a>
		</li>
		<li >
			<a href="{:url('index/index/index')}" class="">
				<!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/share.png" alt="分享"/>-->
				<i class="am-icon-hand-o-up"></i>
				<span class="am-navbar-label">举报</span>
			</a>
		</li>
		<li >
			<a href="{:url('index/personal/mine')}" class="">
				<!--<img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/map.png" alt="地图"/>-->
				<i class="am-icon-user"></i>
				<span class="am-navbar-label">我的</span>
			</a>
		</li>
	</ul>
</div>

<!-- 以上页面内容 开发时删除 -->



